<section class="slider style_three">
    <div class="owl-carousel owl-nav-none owl_dots_none theme_carousel owl-theme"
         data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 7000, "smartSpeed": 1800, "responsive":{ "0" :{ "items": "1" }, "768" :{ "items" : "1" } , "1000":{ "items" : "1" }}}'>
        <div class="slide-item-content">
            <div class="slide-item content_left">
                <div class="image-layer hero-soft-bg" style="background-image:linear-gradient(90deg, rgba(255,248,238,.95) 0%, rgba(255,248,238,.88) 24%, rgba(255,248,238,.58) 46%, rgba(255,248,238,.16) 72%, rgba(255,248,238,0) 100%), url('@Url.Content("~/carola pack/carola/assets/images/sliders/asfaltta-pikap.jpg")');">
                </div>
                <div class="container">
                    <div class="slider_content">
                        <h6 class="animate_up d-inline-block">Car Rental</h6>
                        <h1 class="animate_left">Luxury Dream <br><span>Cars for Rental</span></h1>
                        <p class="description animate_right">Embark on a stylish journey without the high cost.<br>Explore our affordable dream car rentals</p>
                        <div class="button_all animate_down">
                            <a href="#" target="_blank" rel="nofollow" class="btn-style-four animated">Get in Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item-content">
            <div class="slide-item content_left">
                <div class="image-layer hero-soft-bg" style="background-image:url('@Url.Content("~/carola pack/carola/assets/images/sliders/slider-3.jpg")')">
                </div>
                <div class="container">
                    <div class="slider_content">
                        <h6 class="animate_up d-inline-block">Car Rental</h6>
                        <h1 class="animate_left">Luxury Dream <br><span>Cars for Rental</span></h1>
                        <p class="description animate_right">Embark on a stylish journey without the high cost<br>Explore our affordable dream car rentals</p>
                        <div class="button_all animate_down">
                            <a href="#" target="_blank" rel="nofollow" class="btn-style-four animated">Get in Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-item-content">
            <div class="slide-item content_left">
                <div class="image-layer hero-soft-bg" style="background-image:url('@Url.Content("~/carola pack/carola/assets/images/sliders/slider-3.jpg")')">
                </div>
                <div class="container">
                    <div class="slider_content">
                        <h6 class="animate_up d-inline-block">Car Rental</h6>
                        <h1 class="animate_left">Luxury Dream <br><span>Cars for Rental</span></h1>
                        <p class="description animate_right">Embark on a stylish journey without the high cost<br>Explore our affordable dream car rentals</p>
                        <div class="button_all animate_down">
                            <a href="#" target="_blank" rel="nofollow" class="btn-style-four animated">Get in Touch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>