<section class="car-type-section pt_120 pb_90 home-three">
    <div class="container">
        <div class="section-title centred mb_60">
            <span class="sub-title">Car Types</span>
            <h2 class="title">Explore  Car Types</h2>
        </div>
        <div class="car-type-outer-box">
            <div class="car-type-item">
                <div class="car-image">
                    <img src="assets/images/car-type/car-1.png" alt="">
                    <div class="shape"><img src="/carola pack/carola/assets/images/shape/shape-2.png" alt=""></div>
                </div>
                <div class="car-name">
                    <h6><a href="#">Truck</a></h6>
                </div>
            </div>
            <div class="car-type-item">
                <div class="car-image">
                    <img src="assets/images/car-type/car-2.png" alt="">
                    <div class="shape"><img src="/carola pack/carola/assets/images/shape/shape-2.png" alt=""></div>
                </div>
                <div class="car-name">
                    <h6><a href="#">Luxury Sedan</a></h6>
                </div>
            </div>
            <div class="car-type-item">
                <div class="car-image">
                    <img src="assets/images/car-type/car-3.png" alt="">
                    <div class="shape"><img src="/carola pack/carola/assets/images/shape/shape-2.png" alt=""></div>
                </div>
                <div class="car-name">
                    <h6><a href="#">Sedan</a></h6>
                </div>
            </div>
            <div class="car-type-item">
                <div class="car-image">
                    <img src="assets/images/car-type/car-4.png" alt="">
                    <div class="shape"><img src="/carola pack/carola/assets/images/shape/shape-2.png" alt=""></div>
                </div>
                <div class="car-name">
                    <h6><a href="#">Sports Car</a></h6>
                </div>
            </div>
            <div class="car-type-item">
                <div class="car-image">
                    <img src="assets/images/car-type/car-5.png" alt="">
                    <div class="shape"><img src="/carola pack/carola/assets/images/shape/shape-2.png" alt=""></div>
                </div>
                <div class="car-name">
                    <h6><a href="#">Hatchback</a></h6>
                </div>
            </div>
            <div class="car-type-item">
                <div class="car-image">
                    <img src="assets/images/car-type/car-6.png" alt="">
                    <div class="shape"><img src="/carola pack/carola/assets/images/shape/shape-2.png" alt=""></div>
                </div>
                <div class="car-name">
                    <h6><a href="#">SUV</a></h6>
                </div>
            </div>
        </div>
    </div>
</section>