
<section class="booking-section home-three">
    <div class="container">
        <div class="filter-wrapper">
            <div class="filter-group">
                <form>
                    <div class="filter-area">
                        <div class="row">
                            <div class="col-xl-3 col-md-6 col-sm-12 colmun">
                                <div class="single-search-box">
                                    <div class="icon"><i class="icon-24"></i></div>
                                    <div class="searchbox-input">
                                        <label>Your Destination</label>
                                        <div class="custom-select-dropdown">
                                            <div class="select-input">
                                                <input type="text" readonly value="Bangladesh" />
                                                <i class="fas fa-angle-down"></i>
                                            </div>
                                            <div class="custom-select-wrap">
                                                <div class="custom-select-search-area">
                                                    <i class="fas fa-magnifying-glass"></i>
                                                    <input type="text" placeholder="Type Your Destination" />
                                                </div>
                                                <ul class="option-list">
                                                    <li>
                                                        <div class="destination">
                                                            <h6>Bangladesh</h6>
                                                            <p>Dhaka, Cox's Bazar, Sylhet</p>
                                                        </div>
                                                        <div class="tour">
                                                            <span>
                                                                50 <br />
                                                                Tour
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="destination">
                                                            <h6>Nepal</h6>
                                                            <p>KATHMANDU, POKHARA</p>
                                                        </div>
                                                        <div class="tour">
                                                            <span>
                                                                30 <br />
                                                                Tour
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="destination">
                                                            <h6>India</h6>
                                                            <p>Delhi, Agra, Himachal</p>
                                                        </div>
                                                        <div class="tour">
                                                            <span>
                                                                30 <br />
                                                                Tour
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="destination">
                                                            <h6>Brazil</h6>
                                                            <p>Sao Paulo, Salvador, Bonito</p>
                                                        </div>
                                                        <div class="tour">
                                                            <span>
                                                                20 <br />
                                                                Tour
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="destination">
                                                            <h6>Thailand</h6>
                                                            <p>Bangkok, Phuket, Trang</p>
                                                        </div>
                                                        <div class="tour">
                                                            <span>
                                                                40 <br />
                                                                Tour
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="destination">
                                                            <h6>Span</h6>
                                                            <p>Barcelona, Madrid</p>
                                                        </div>
                                                        <div class="tour">
                                                            <span>
                                                                20 <br />
                                                                Tour
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="destination">
                                                            <h6>Dubai</h6>
                                                            <p>Abu Dhabi, Burj Khalifa</p>
                                                        </div>
                                                        <div class="tour">
                                                            <span>
                                                                35 <br />
                                                                Tour
                                                            </span>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="destination">
                                                            <h6>United States</h6>
                                                            <p>New York, Las Vegas, Colorado</p>
                                                        </div>
                                                        <div class="tour">
                                                            <span>
                                                                45 <br />
                                                                Tour
                                                            </span>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-sm-12 colmun">
                                <div class="single-search-box">
                                    <div class="icon"><i class="icon-25"></i></div>
                                    <div class="searchbox-input">
                                        <label>When to Start</label>
                                        <div class="custom-select-dropdown">
                                            <div class="select-input">
                                                <input type="text" name="inOut" readonly value="" />
                                                <i class="fas fa-angle-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-sm-12 colmun">
                                <div class="single-search-box">
                                    <div class="icon"><i class="icon-26"></i></div>
                                    <div class="searchbox-input">
                                        <label>When to Finish</label>
                                        <div class="custom-select-dropdown">
                                            <div class="select-input">
                                                <input type="text" name="inOut" readonly value="Sep 20" />
                                                <i class="fas fa-angle-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 col-sm-12 colmun">
                                <div class="single-search-box">
                                    <div class="icon"><i class="icon-27"></i></div>
                                    <div class="searchbox-input">
                                        <label>People</label>
                                        <div class="custom-select-dropdown">
                                            <div class="select-input">
                                                <h6><span id="adult-qty">1</span> Adults, <span id="child-qty">0</span> Child</h6>
                                                <i class="fas fa-angle-down"></i>
                                            </div>
                                            <div class="custom-select-wrap two no-scroll">
                                                <ul class="guest-count">
                                                    <li class="single-item">
                                                        <div class="title">
                                                            <h6>Adult</h6>
                                                            <span>17 years+</span>
                                                        </div>
                                                        <div class="quantity-counter">
                                                            <a href="#" data-type="adult" class="guest-quantity__minus"><i class="fas fa-minus"></i></a>
                                                            <input name="adult_quantity" type="text" class="quantity__input" value="1" />
                                                            <a href="#" data-type="adult" class="guest-quantity__plus"><i class="fas fa-plus"></i></a>
                                                        </div>
                                                    </li>
                                                    <li class="single-item">
                                                        <div class="title">
                                                            <h6>Children</h6>
                                                            <span>0-17 years</span>
                                                        </div>
                                                        <div class="quantity-counter">
                                                            <a href="#" data-type="child" class="guest-quantity__minus"><i class="fas fa-minus"></i></a>
                                                            <input name="child_quantity" type="text" class="quantity__input" value="0" />
                                                            <a href="#" data-type="child" class="guest-quantity__plus"><i class="fas fa-plus"></i></a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>